# Created by .ignore support plugin (hsz.mobi)
.idea
/.idea/
/.idea/*
/*.iml
/*/*.iml
.gradle
/.gradle/
/.gradle/*
/target
/target/*
/*/target/*
/*/*.classpath
/*.project
/*/*.project
/*/*.factorypath
*.DS_Store
logs
*.log